.srg {
  position: relative;
  float: unset
}

.srg .jUmkFb:hover {
  margin-bottom: 30px;
  margin-left: 20px
}

.srg>.g,
#rso>.g {
  width: unset;
  margin-left: 20px;
  overflow: hidden;
  padding: 0 20px 15px;
  margin-top: 0;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 2px gray;
  -moz-box-shadow: 0 0 2px gray;
  transition: all .25s cubic-bezier(.23, 1, .32, 1) 0s
}

.search>#ires .srg>.g {
  max-width: unset
}

#main .mw #rhs {
  display: none
}

#main .mw {
  max-width: unset
}

#main #cnt {
  width: 50vw;
  margin: 0 auto
}

#acid_src>div {
  width: unset;
  margin-left: 20px;
  grid-column-start: 1;
  grid-column-end: 6
}

.hlcw0c g-scrolling-carousel {
  margin: unset;
  margin-left: 20px
}

.col {
  width: 100% !important
}

.col #center_col {
  width: 100% !important;
  margin-left: unset !important
}

#acid_src,
.srg {
  display: grid;
  margin: 0 auto
}

#acid_src div:last-child {
  grid-column-end: 3
}

.srp .big #tsf {
  width: 833px
}

.srp form {
  margin: 0 auto
}

#top_nav {
  min-width: unset
}

.srp form div[jscontroller] {
  margin-left: unset;
  margin: 0 auto
}

g-section-with-header {
  text-align: center;
  margin-bottom: 20px;
}

#rso .g,
.bkWMgd>.g,
.bkWMgd g-inner-card,
#rhscol #rhs,
#rhscol #rhs .g>div,
.c2xzTb .g,
.ruTcId .g,
.fm06If .g,
.cUnQKe .g,
.HanQmf .g,
#rso .g,
.hlcw0c>div:not(.g)>* {
  border: none;
}

#sej-container {
  text-align: left !important;
  margin-left: 169px !important;
}

.sp-separator {
  width: 760px !important;
  margin: 0 !important;
}
